<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SniffUART.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SniffUART.Properties.Settings>
            <setting name="OnePort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToggleTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToggleData" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="ToggleView" serializeAs="String">
                <value>Msg</value>
            </setting>
            <setting name="MCU_Protocol" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UART0_Name" serializeAs="String">
                <value>CB3S</value>
            </setting>
            <setting name="UART0_PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="UART0_BaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="UART0_Parity" serializeAs="String">
                <value />
            </setting>
            <setting name="UART0_DataBits" serializeAs="String">
                <value />
            </setting>
            <setting name="UART0_StopBits" serializeAs="String">
                <value />
            </setting>
            <setting name="UART0_Handshake" serializeAs="String">
                <value />
            </setting>
            <setting name="UART0_ReadTimeout" serializeAs="String">
                <value />
            </setting>
            <setting name="UART1_Name" serializeAs="String">
                <value>MCU</value>
            </setting>
            <setting name="UART1_PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="UART1_BaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="UART1_Parity" serializeAs="String">
                <value />
            </setting>
            <setting name="UART1_DataBits" serializeAs="String">
                <value />
            </setting>
            <setting name="UART1_StopBits" serializeAs="String">
                <value />
            </setting>
            <setting name="UART1_Handshake" serializeAs="String">
                <value />
            </setting>
            <setting name="UART1_ReadTimeout" serializeAs="String">
                <value />
            </setting>
        </SniffUART.Properties.Settings>
    </userSettings>
</configuration>